.hero {
    padding: 1.6rem;
    height: 36rem;
    background: url(../img/banner-image.png) no-repeat center / cover;
    flex-direction: column;
    justify-content: end;
}
.hero__titulo, .hero__descripcion {
    color: var(--white);
}
.hero__descripcion {
    text-align: start;
}
.hero__enlace {
    width: fit-content;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 1.6rem 3.2rem;
    }
    .hero__titulo {
        font-size: 5.2rem;
    }
    .hero__descripcion {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        padding: 1.6rem 9.6rem;
    }
}