.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}
.productos .producto:nth-child(-n+4) {
    display: block;
}
.productos .producto:not(:nth-child(-n+4)) {
    display: none;
}
.producto .detalles{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.producto .detalles :nth-child(n) {
    text-align: start;
    padding: 0.2em;
}
.detalles h3 {
    font-size: 14px;
    font-weight: 500;
}
.precio {
    font-size: 16px;
    font-weight: 700;
}
.precio::before {
    content: "$  ";
}
.precio::after {
    content: "  MXN";
}
.detalles a {
    color: var(--blue);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .productos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .productos {
        grid-template-columns: repeat(6, 1fr);
    }
    .productos .producto:nth-child(-n+6) {
        display: block;
    }
    .productos .producto:not(:nth-child(-n+6)) {
        display: none;
    }
}